@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');


html{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.25) 100%), linear-gradient(225deg, #e1e1e1 0%, #f6f6f6 100%);
    background-Size: cover;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight:700;
    margin: 0 !important;
    overflow-x: hidden !important;
}


body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.25) 100%), linear-gradient(225deg, #e1e1e1 0%, #f6f6f6 100%);
    background-Size: cover;
    min-height: 100%;
    width: 100%;
    /*max-width: 100dvw !important;*/
    /*overflow-x: hidden !important;*/
    margin: 0 !important;
}

.Typography{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight:700;
}