@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');


html{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight:700;
}



body{
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.25) 100%), linear-gradient(225deg, #e1e1e1 0%, #f6f6f6 100%);
    background-Size: cover;
    min-height: 100vh;
    margin: 0;
}

.Typography{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight:700;
}